.section-area {
    position: relative;
}

.b-advantages-4 {
    display: table;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 0;
    text-align: center;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 6px;
}

.b-advantages-4__item:nth-child(odd) {
    background-color: #3d75a5;
}

.b-advantages-4__item {
    position: relative;
    display: table-cell;
    width: 25%;
    padding: 50px 1% 50px;
    color: #fff;
    vertical-align: top;
}

.b-advantages-4 {
    display: table;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 0;
    text-align: center;
}

.b-advantages-4__inner {
    position: relative;
    z-index: 10;
}

.b-advantages-4__title {
    font-size: 16px;
    font-weight: 900;
    line-height: 1.2;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
}

.b-advantages-4__text {
    margin-top: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    letter-spacing: -0.015em;
}

.b-advantages-4__item:after {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
    content: '';
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}