/* Sections */
.section-area {
  position: relative;
}

.b-advantages-4 {
  display: table;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-left: 0;
  text-align: center;
}

.b-advantages-4 + .b-advantages-4 {
  padding-top: 0;
}

.b-advantages-4__item {
  position: relative;
  display: table-cell;
  width: 25%;
  padding: 50px 1% 50px;
  color: #fff;
  vertical-align: top;
}

.b-advantages-4__item:after {
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  content: '';
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.b-advantages-4__item:hover:after {
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

.b-advantages-4__item:hover .b-advantages-4__title {
  color: #333;
}

.b-advantages-4__item:hover .b-advantages-4__decor {
  color: #333;
}

.b-advantages-4__item:hover .b-advantages-4__text {
  color: #777;
}

.b-advantages-4__icon {
  display: block;
  height: 76px;
  font-size: 38px;
  line-height: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.b-advantages-4__decor {
  color: #fff;
}

.b-advantages-4__title {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}

.b-advantages-4__decor {
  font-size: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.b-advantages-4__text {
  margin-top: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: -0.015em;
}

.b-advantages-4__inner {
  position: relative;
  z-index: 10;
}

.b-advantages-4_3-col {
  margin-right: 20%;
  margin-left: 20%;
}


.social-net__item {
  margin-right: 10px;
  padding-right: 20px;
  padding-left: 0;
}

.social-net__link {
  font-size: 12px;
  color: #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* ======= FOOTER ======= */
.footer__main {
  padding-top: 110px;
  padding-bottom: 105px;
}

.footer__main_mod-a {
  padding-top: 112px;
  padding-bottom: 25px;
}

.footer__contact {
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 1;
  color: #ccc;
}

.footer__contact_lg {
  margin-top: 3px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.footer .copyright {
  padding: 37px 0;
  background-color: #191919;
  text-align: center;
}

.footer .copyright__link {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .copyright__link-2 {
  margin-left: 5px;
  color: #777;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: underline;
}

.footer .social-net {
  margin-top: 42px;
  text-align: center;
}

.footer .social-net__item {
  margin-right: 0;
  padding-right: 3px;
  padding-left: 3px;
}

.footer .social-net__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-top: 11px;
  font-size: 16px;
  line-height: 1;
  border: 2px solid #3b3b3b;
}

.footer .footer-section {
  margin-top: 78px;
}

.footer .footer-section__title {
  position: relative;
  margin-bottom: 31px;
  font: 16px Roboto;
  color: #fff;
  overflow: hidden;
  text-transform: uppercase;
}

.footer .footer-section__title:after {
  position: absolute;
  bottom: 2px;
  width: 100%;
  margin-left: 10px;
  border-bottom: 1px solid #3c3c3c;
  content: '';
}

.footer .footer-section__list:before, .footer .footer-section__list:after {
  display: table;
  content: "";
}

.footer .footer-section__list:after {
  clear: both;
}

.lt-ie8 .footer .footer-section__list {
  zoom: 1;
}

.footer .footer-section__list li {
  float: left;
  width: 50%;
  margin-bottom: 10px;
  padding-left: 18px;
}

.footer .footer-section__list li:before {
  left: -7px;
  font-size: 18px;
}

.footer .footer-section__list li a {
  color: #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .footer-social-net {
  margin-bottom: 23px;
}

.footer .footer-social-net:before, .footer .footer-social-net:after {
  display: table;
  content: "";
}

.footer .footer-social-net:after {
  clear: both;
}

.lt-ie8 .footer .footer-social-net {
  zoom: 1;
}

.footer .footer-social-net__icon {
  float: left;
  padding-top: 6px;
  padding-left: 5px;
  font-size: 16px;
}

.footer .footer-social-net__inner {
  padding-left: 30px;
}

.footer .footer-social-net__text {
  color: #ccc;
}

.footer .footer-social-net__time {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #777;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}

.footer .footer-main-section {
  margin-top: 57px;
}

.footer .footer-main-section_left {
  padding-right: 15px;
  text-align: right;
}

.footer .footer-main-section_right {
  padding-left: 15px;
}

.footer .footer-form {
  position: relative;
  max-width: 300px;
  margin-top: 14px;
  background-color: #191919;
}

.footer .footer-form__info {
  color: #ccc;
}

.footer .footer-form__input, .footer .footer-form__btn {
  border: none;
  background-color: transparent;
}

.footer .footer-form__input {
  width: 100%;
  padding: 10px 50px 10px 20px;
}

.footer .footer-form__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  line-height: 1;
}

.footer .footer-banner {
  position: relative;
  margin-top: -20px;
  margin-bottom: 20px;
}

.footer .footer-banner__decor {
  position: absolute;
  top: -24px;
  left: -24px;
  width: 40px;
  height: 40px;
  border: 6px solid #3b3b3b;
  z-index: 1;
}

.footer .footer-banner__inner {
  position: relative;
  padding: 40px 55px 50px;
  color: #fff;
  background-image:url(../images/fbanner.jpg);
  background-size: cover;
  z-index: 10;
}

.footer .footer-banner__wrap {
  float: left;
  padding-right: 70px;
}

.footer .footer-banner__title {
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer .footer-banner__text {
  font-size: 15px;
  font-style: italic;
  color: #ccc;
  letter-spacing: 0.015em;
}

.footer .footer-banner__btn {
  float: right;
  margin-top: 17px;
  padding: 15px 30px;
}

.footer_mod-a .footer-section__list li {
  float: none;
  width: 100%;
}

.footer_mod-a .footer-section_top-sm {
  margin-top: 52px;
}

.footer_mod-a .social-net {
  margin-top: 30px;
  text-align: left;
}

.footer_mod-a .social-net__link {
  width: 22px;
  border: none;
}

.footer_mod-a .footer-form {
  max-width: 100%;
}

.footer_mod-a .footer__logo {
  display: block;
  margin-top: 60px;
  margin-bottom: 26px;
}

.footer_mod-a .footer__contact_lg {
  margin-top: 31px;
}


/***COLOR***/
.social-net__link:hover,
.footer .copyright__link:hover,
.footer .copyright__link-2:hover,
.footer-form__btn,
.btn-link:after,
.b-advantages-4__item:hover .b-advantages-4__icon,
.footer .footer-section__list li a:hover,
.b-post-2 .entry-footer__link .icon,
.b-post-2 .entry-footer__link:hover,
.entry-footer__link:hover{color: #5aaff7;}

.section-bg_primary:after{color: #5aaff7;}

.btn-effect:after,
.btn-primary,
.section-bg_primary:after,
.b-advantages-4__item:nth-child(even) {background-color: #00893d;}

.b-advantages-4__item:nth-child(odd),
.section-bg_secondary:after{background-color: #05ac05;}

.b-contact-banner__inner:before {box-shadow: inset 215px 0 0 0 #05ac05;}

.b-contact-banner__inner:after {box-shadow: inset -215px 0 0 0 #05ac05;}

.b-contact-banner:before, {
    background-color: #3d75a5;
}

.b-contact-banner_mod-a .b-contact-banner__border {
border-bottom-color: #5aaff7;
}

.tooltip-1.top .tooltip-arrow, .tooltip-1.top-left .tooltip-arrow, .tooltip-1.top-right .tooltip-arrow, .border-2-colors, .b-contact-banner_mod-a .b-contact-banner__border {
    border-top-color: #5aaff7;
}

/***PARALLAX***/
.bg-slideshow {
  margin: 0;
  padding: 0;
}
.bg-slideshow li {
  list-style: none;
}
.parallax__inner {
  position: relative;
  z-index: 1;
}
.parallax-bg {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400%;
  overflow: hidden;
  z-index: 0;
}
.parallax-bg:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}
.parallax-dark:after {
  background-color:  rgba(0, 0, 0, 0.9);
}
.bg-slideshow:after {
  content: '';
}
.bg-slideshow li .bg-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0;
  z-index: 0;
}
.parallax-bg .bg-slideshow li .bg-slide {
  -webkit-animation: imageAnimation 18s linear infinite 0s;
     -moz-animation: imageAnimation 18s linear infinite 0s;
      -ms-animation: imageAnimation 18s linear infinite 0s;
       -o-animation: imageAnimation 18s linear infinite 0s;
          animation: imageAnimation 18s linear infinite 0s;
  -webkit-backface-visibility: hidden;
}
.parallax-bg .bg-slideshow li:nth-child(2) .bg-slide {
  -webkit-animation-delay: 9s;
     -moz-animation-delay: 9s;
      -ms-animation-delay: 9s;
       -o-animation-delay: 9s;
          animation-delay: 9s;
}
@-webkit-keyframes imageAnimation {
  1% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  4% {
    opacity: 0;
    -webkit-transform: scale(1);
    -webkit-animation-timing-function: ease-out;
  }
  22% {
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(-2deg);
  }
  44% {
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(1deg);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  1% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  4% {
    opacity: 0;
    -moz-transform: scale(1);
    -moz-animation-timing-function: ease-out;
  }
  22% {
    opacity: 1;
    -moz-transform: scale(1.1) rotate(-2deg);
  }
  44% {
    opacity: 1;
    -moz-transform: scale(1.1) rotate(1deg);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes imageAnimation {
  1% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }
  4% {
    opacity: 0;
    -o-transform: scale(1);
    -o-animation-timing-function: ease-out;
  }
  22% {
    opacity: 1;
    -o-transform: scale(1.1) rotate(-2deg);
  }
  44% {
    opacity: 1;
    -o-transform: scale(1.1) rotate(1deg);
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes imageAnimation {
  1% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }
  4% {
    opacity: 0;
    -ms-transform: scale(1);
    -ms-animation-timing-function: ease-out;
  }
  22% {
    opacity: 1;
    -ms-transform: scale(1.1) rotate(-2deg);
  }
  44% {
    opacity: 1;
    -ms-transform: scale(1.1) rotate(1deg);
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  1% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  4% {
    opacity: 0;
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  22% {
    opacity: 1;
    transform: scale(1.1) rotate(-2deg);
  }
  44% {
    opacity: 1;
    transform: scale(1.1) rotate(1deg);
  }
  100% {
    opacity: 0;
  }
}


/***RESPONSIVE***/

@media (min-width:992px) and (max-width:1199px) {
  .b-advantages-4__item {
    padding-left: 3%;
    padding-right: 3%;
  }
}


@media (max-width:991px) {
  .footer .footer-section__list li {
    width: 100%;
  }
  .b-advantages-4__item {
    display: block;
    width: 100%;
  }
  .b-advantages-4_3-col {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
}

@media (max-width:767px) {
  .footer .footer-main-section_left {
    text-align: center;
  }
  .footer .copyright__link-2 {
    display: block;
  }
  .footer .footer-banner__wrap {
    padding-right: 0;
  }
  .entry-footer__link {
    float: none;
    margin-top: 10px;
    margin-left: 0;
    display: block;
  }
}

@media (max-width:480px) {
  .footer .social-net__link {
    font-size: 14px;
    width: 35px;
    height: 35px;
    padding-top: 8px;
  }
  .ui-title-block {
    font-size: 30px;
  }
}

.section-type-b {
    position: relative;
    /*height: 200px;
    background-image: url(../../images/hc.jpg);*/
    background-size: cover;
}

.section__inner {
    position: relative;
    z-index: 110;
}

.b-type-e {
    padding: 50px 70px 0 0;
    color: #fff;
}
.b-type-e__title {
    line-height: 1.2;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    letter-spacing: -0.015em;
}
.ui-title-inner-1 {
    margin-bottom: 14px;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    letter-spacing: -0.01em;
}

.b-contact-banner:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.85;
    content: '';
}

.b-contact-banner_mod-a .b-contact-banner__border {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 0;
    width: 100%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.b-contact-banner_mod-a .b-contact-banner__inner {
    padding-top: 47px;
    padding-bottom: 40px;
}

.b-contact-banner__inner {
    position: relative;
    padding-top: 56px;
    padding-bottom: 50px;
    z-index: 10;
}

.b-contact-banner__title {
    margin-top: 0;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.b-contact-banner__decor {
    margin-top: 15px;
    margin-bottom: 15px;
}
.ui-decor-type-3 {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: #fff;
    box-shadow: 10px 0 0 0 #fff, -10px 0 0 0 #fff;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ui-decor-type-3:before {
    left: -42px;
}
.ui-decor-type-3:after {
    right: -40px;
}
.ui-decor-type-3:before, .ui-decor-type-3:after {
    position: absolute;
    top: 2px;
    width: 20px;
    height: 1px;
    background-color: #eee;
    content: '';
}

.b-contact-banner__info_lg {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.b-contact-banner__info {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1;
}
.section-bg:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    content: '';
}
.b-contact-banner {
    position: relative;
    top: -6px;
    float: right;
    width: 100%;
    max-width: 430px;
    margin-bottom: -12px;
    color: #fff;
    /*background-image: url(../../images/hc-1.jpg);*/
    background-size: cover;
    text-align: center;
}

.b-contact-banner:before {
background-color: #00b712;
background-image: linear-gradient(360deg, #00b712 0%, #00893d 74%);
}